Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@mendyEdri 
github
/
gitignore
3k
98k
51.9k
 Code Pull requests 117 Actions Projects 0 Security Insights
gitignore/Swift.gitignore
@Coeur Coeur Improving the documentation of Objective-C and Swift files (#3133)
e00d43a on Aug 7, 2019
@KrauseFx@Coeur@shiftkey@juliancadi@fidmor89@FabrizioBrancati@czechboy0@adrfer@nwest@nrbrook@natestedman@martinblech@yanniks@pogramos@evfemist@dbburgess@chrisamanse@modocache@commscheck@bbodenmiller@maxxfrazer@chenyufeng1991
90 lines (74 sloc)  2.12 KB
  
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

Pods/*
*.xcworkspace
